.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  color: whitesmoke;
  background-color: black;
  cursor: pointer;
  margin: 1vw;
  padding: 2vh;
  width: calc(85vw/2);
  border-radius: 5px;
  outline: 1px;
  outline-color: whitesmoke;
  outline-style: double;
  font-size: 3vh;
}

.waveButton:hover {
  background-color: whitesmoke;
  color:black;
}

.connectButton {
  color: whitesmoke;
  background-color: black;
  cursor: pointer;
  align-self: center;
  margin: auto;
  padding: 2vh;
  width: calc(85vw/2);
  border-radius: 5px;
  outline: 1px;
  outline-color: whitesmoke;
  outline-style: double;
  font-size: 3vh;
}

.connectButton:hover {
  background-color: whitesmoke;
  color:black;
}
